body {
  text-align: center;
  background-color: #4df0cc;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #eb3b3b;
}
a {
  text-decoration: none;
  color: #eb3b3b;
}
a:hover{
  text-decoration: none;
  color: #eb3b3b;
}

p {
  font-size: 2rem;
  color: #eb3b3b;
  font-family: 'Indie Flower', cursive;
}

img {
  width:40%;
}

footer {
  margin-top: 5%;
  color: #f78b2d;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
